* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ==========================================================================

                Classes ands IDs for my JS Script

   ========================================================================== */


.black-background {
    background-color: rgb(27, 27, 27);
}

.white-background {
    background-color: white;
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.border-white {
    border: 3px solid white;
}

.border-black {
    border: 3px solid rgb(27, 27, 27);
}

.visibility-with-display-on {
    display: unset;
}

.visibility-with-display-off {
    display: none;
}

.visibility-with-visibility-on {
    visibility: visible;
}

.visibility-with-visibility-off {
    visibility: hidden;
}

/* ==========================================================================

                My Default CSS code for my Portefolio

   ========================================================================== */

body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.Webpage-Banner {
    width: 100%;
    height: 500px;
}

.Webpage-Banner-Container {
    background-image: url("./src/Home/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 500px;
}

.Webpage-Icon {
    border-radius: 100%;
    width: 300px;
    height: 300px;

    position: absolute;
    margin: 350px 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Webpage-Icon-Container {
    background-image: url("./src/Home/icon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 100%;
    width: 95%;
    height: 95%;
}

.Webpage-SocialMidia {
    display: flex;
    margin: 0px 360px;
}

.fa-brands {
    padding: 7px;
    font-size: 1.9em;
}

.fa-brands:hover {
    transform: scale(0.8);
    transition: transform 0.2s;
}

.fa-instagram {
    color: rgb(225, 77, 255);
}

.fa-facebook {
    color: rgb(0, 140, 255);
}

.Webpage-ChangeTheme {
    display: flex;
    margin: 0px 50px;  
}

.Webpage-ChangeTheme i {
    padding: 7px;
    font-size: 1.9em;
    cursor: pointer;
}

.Webpage-ChangeTheme p {
    padding: 7px;
    font-size: 23px;
}

.Webpage-firstsection-title {
    padding-top: 75px;
    padding-left: 250px;
}

.Webpage-firstsection-title div {
    text-align: center;
    padding: 15px 0px;
}

.Webpage-firstsection-title div h1 {
    font-size: 70px;
    padding: 0px 50px;
}

.pop-up {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.pop-up-container {
    border-radius: 8px;

    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,15);
    -moz-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.25);

    width: 95%;
    height: 95%;
}

.pop-up-close {
    width: 100%;
    height: 50px;
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 15px;
}

.fa-xmark {
    color: white;
    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
}

.pop-up-close div:hover {
    border-top-right-radius: 5px;
    background-color: rgb(255, 56, 56);
    width: 50px;
    height: 100%;
    padding-top: 7px;
    padding-left: 15px;
    cursor: pointer;
}

.pop-up-container-title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 25px;
    font-size: 35px;
}

.pop-up-container-description {
    display: flex;
}

.pop-up-container-description-icon {
    width: 300px;
    height: 300px;
    border-radius: 100%;

    margin: 100px;

    background-image: url("./src/Home/icon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pop-up-container-description-text {
    display: flex;
    flex-direction: column;
}

.pop-up-container-description-text h1{
    font-size: 55px;
    margin: 100px 0px 50px -50px;
}

.pop-up-container-description-text p{
    font-size: 25px;
    margin: 10px 0px 0px -40px;
}

.pop-up-container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up-container-skills h1 {
    font-size: 55px;
}

.pop-up-container-skills div {
    display: flex;
}

.pop-up-container-skills div p {
    margin: 50px 100px 50px 75px;
    padding: 0px 50px;
    font-size: 35px;
}

.pop-up-container-skills p {
    padding: 0px 50px;
    font-size: 35px;
    border-radius: 6px;
}

.html {
    color: rgb(255, 94, 0);
    border: 2px solid rgb(255, 94, 0);
}

.html:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 94, 0);
}

.css {
    color: rgb(0, 132, 255);
    border: 2px solid rgb(0, 132, 255);
}

.css:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 132, 255);
}

.js {
    color: rgb(219, 216, 0);
    border: 2px solid rgb(219, 216, 0);
}

.js:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(219, 216, 0);
}

.pop-up-container-skills a {
    text-decoration: none;
}

.pop-up-map {
    width: 100%;
    height: 825px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-container-description iframe {
    width: 900px;
    height: 600px;
}

.pop-up-description-posts {
    width: 100%;
}

.pop-up-description-posts h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 55px;
}

.pop-up-description-posts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up-description-posts div div {
    width: 300px;
    margin-bottom: 20px;
}

.pop-up-description-posts div a {
    padding-top: 20px;
}

.pop-up-description-posts div a:link { 
    text-decoration: none;
}

.pop-up-description-posts div p {
    color: rgb(0, 255, 21);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid rgb(84, 255, 84);
}

.pop-up-description-posts div p:hover {
    color: black;
    padding: 10px 30px;
    background-color: rgb(84, 255, 84);
}

.hover-menu {
    cursor: pointer;
}

.hover-menu:hover {
    color: rgb(255, 0, 149);
}